/* Home.css */

.home-container {
  text-align: center;
  padding: 20px;
}

.header {
  font-size: 2.5rem;
  color: #333;
}

.subheader {
  font-size: 1.5rem;
  color: #777;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
}

ul {
  list-style: disc;
  margin-left: 20px;
}

.cta-button {
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #0056b3;
}

